form {
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 0.8rem;
  border-bottom: 1px solid var(--border);
  background: var(--header--form-bg);
  align-items: center;
}

.user-search {
  width: 65%;
  min-height: 28px;
  padding: 0 5px;
  border: 1px solid var(--border);
  border-radius: 6px;
}

.user-search::placeholder {
  color: var(--input-placeholder);
  font-size: 0.9rem;
}

.user-search:focus {
  outline: 0;
  border: 1px solid var(--input-focus);
}

.error:focus {
  outline: none;
  border: 3px solid var(--input-error);
}


