* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

:root {
  

  --main-font: "Helvetica", sans-serif;
  --username-font: "Arial", sans-serif;
}

body {
  position: relative;
  color: var(--text);
  background: var(--bg);
  font-family: var(--main-font);
  min-height: 100vh;
  max-height: 150vh;
}

.social-info, .personal-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

a {
  color: var(--cta);
  text-decoration: none;
  font-size: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  background: var(--cta);
  border: 0;
  border-radius: 6px;
  padding: 8px 16px;
  color: var(--header--btn-text);
  cursor: pointer;
}
