* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

:root {
  --border: #30363d;
  --cta: #2585f5;
  --bg: #0d1117;
  --header--form-bg: #161b22;
  --text: #c9d1d9;
  --username: #5a6169;
  --header--btn-text: #f0f6fc;
  --input-placeholder: #bac3c5;
  --no-info-text: #373b42;

  --main-font: "Helvetica", sans-serif;
  --username-font: "Arial", sans-serif;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: var(--main-font);
}

.social-info, .personal-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}
