.main-info {
  display: flex;
  margin-bottom: 1rem;
}

.user-pic {
  border: 1px solid var(--border);
  width: 25%;
  border-radius: 50%;
}

.names {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.username {
  font-family: var(--username-font);
  color: var(--username);
  font-weight: 400;
  font-size: 1.1rem;
}
