.personal-info-p {
  max-height: 16px;
  display: flex;
  align-items: center;
  
}

.personal-info-icon {
  height: 100%;
  width: 16px;
  margin-right: 5px;
  filter: invert(59%) sepia(3%) saturate(1003%) hue-rotate(171deg)
    brightness(98%) contrast(90%);
}

.no-info {
  color: var(--no-info-text);
}

.no-info:hover {
    text-decoration: none;
    cursor: default;
}

@media screen and (max-width: 550px) {
  .personal-info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 7px;
    overflow: hidden;
  }
}
